<div class="container">
  <div class="signup">
    <div class="signup-form">
      <h2>{{ constants.LOGIN_HEADING }}</h2>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="form-group">
          <label for="username">{{ constants.USERNAME }}</label>
          <input
            class="form-style"
            type="text"
            placeholder="Enter a username"
            id="username"
            name="username"
            ngModel
            required
            pattern="^\S+$"
            #username="ngModel"
          />
          <small *ngIf="username.invalid && username.touched">{{
            constants.USERNAME_REQ
          }}</small>
        </div>

        <div class="password">
          <label for="password">{{ constants.PASSWORD }}</label>
          <input
            [type]="hide ? 'password' : 'text'"
            placeholder="Enter password"
            id="password"
            class="form-style"
            name="password"
            ngModel
            required
            #password="ngModel"
          />
          <i class="fa-solid fa-eye" (click)="toggleIcon()"></i>
          <small *ngIf="password.invalid && password.touched">{{
            constants.PASSWORD_REQ
          }}</small>
        </div>

        <div>
          <button class="btn" type="submit" [disabled]="!loginForm.valid">
            {{ constants.LOG_IN }}
          </button>
        </div>
        <div>
          <p>
            {{ constants.NO_ACCOUNT }}
            <span class="no-account"
              ><a routerLink="/signup">{{ constants.SIGN_UP }}</a></span
            >
          </p>
        </div>
      </form>
    </div>
    <div class="signup-image">
      <img
        src="../../../assets/login_signup/login.svg"
        alt="couldn't preview image"
        height="350px"
        width="550px"
      />
    </div>
  </div>
</div>
