<div class="container">
  <div class="add-mentor">
    <h2>{{ constants.HEADING }}</h2>
    <hr />
    <div class="add-new-mentor">
      <input
        type="text"
        placeholder="Enter mentor name"
        name="name"
        [(ngModel)]="mentorName"
        #searchInput="ngModel"
        required
        pattern="^\S+$"
      />
      <small *ngIf="searchInput.invalid && searchInput.touched">{{
        constants.USERNAME_REQ
      }}</small>
      <button
        class="add-mentor-btn"
        (click)="onButtonClicked()"
        [disabled]="!searchInput.valid"
      >
        {{ constants.ADD_MENTOR }}
      </button>
    </div>
  </div>
  <h2>{{ constants.DETAILS }}</h2>
  <hr />
  <table class="table">
    <tr>
      <th>{{ constants.NAME }}</th>
      <th>{{ constants.COURSE }}</th>
      <th>{{ constants.EARNING }}</th>
    </tr>
    <tr *ngFor="let mentor of mentorEarnings">
      <td>
        <span class="profile-logo">
          <img
            src="../../../assets/login_signup/profile.svg"
            alt="profile"
            height="40px"
          />
        </span>
        <span class="mentor-name"> {{ mentor.name }} </span>
      </td>
      <td>{{ mentor.course_name }}</td>
      <td>₹ {{ mentor.earning }}</td>
    </tr>
  </table>
</div>
