<div class="page-header">
  <div class="page-header-logo">
    <h2>{{ constants.TITLE }}</h2>
  </div>

  <div>
    <div class="page-header-nav">
      <a
        routerLink="home"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ constants.HOME }}</a
      >
      <a
        routerLink="courses"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ constants.COURSES }}</a
      >
    </div>
  </div>

  <div class="page-header-login-logout">
    <button class="login-btn" routerLink="login" *ngIf="!isAuthenticated">
      {{ constants.LOGIN }}
    </button>
    <div *ngIf="isAuthenticated" class="header-right">
      <div>
        <button class="cart" routerLink="cart">
          <span><i class="fa-solid fa-cart-shopping"></i></span> Cart
          <span class="cart-number" *ngIf="cartItemNumber > 0">{{
            cartItemNumber
          }}</span>
        </button>
        <button class="profile" (click)="toggleProfileOptions()">
          <img
            class="profile-logo"
            src="../../../assets/login_signup/profile.svg"
            alt="profile"
            height="36px"
          />
        </button>
      </div>

      <div class="profile-container" *ngIf="showProfileOptions">
        <button class="profile-btn admin" routerLink="admin" *ngIf="isAdmin">
          {{ constants.DASHBOARD }}
        </button>
        <button class="profile-btn mentor" routerLink="mentor" *ngIf="isMentor">
          {{ constants.DASHBOARD }}
        </button>
        <button class="profile-btn my-learning" routerLink="myLearning">
          {{ constants.MYLEARNING }}
        </button>
        <button class="profile-btn logout" (click)="onLogout()">
          {{ constants.LOGOUT }}
        </button>
      </div>
    </div>
  </div>
</div>
