<div class="preview-container">
  <div class="course-description">
    <img
      src="../../../../assets/courses/onlinecourse2.webp"
      alt=""
      height="250px"
    />
    <div class="course-details">
      <p class="course-heading">{{ selectedCourse.name | capitalize }}</p>
      <div class="stars">
        <div class="stars">
          <i
            class="fa fa-star"
            *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
            [ngClass]="{ filled: selectedCourse.rating >= i + 1 }"
          ></i>
        </div>
      </div>
      <p class="course-price">₹ {{ selectedCourse.price }}</p>
      <div class="purchase-options">
        <button class="buy-now btn" (click)="onBuyNowClick(selectedCourse)">
          Buy Now
        </button>
        <button class="add-to-cart btn" (click)="addTocart(selectedCourse)">
          Add to Cart
        </button>
      </div>
    </div>
  </div>

  <div class="faq" *ngIf="faqs.length > 0">
    <h2>FAQ</h2>
    <hr />
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item" *ngFor="let faq of faqs">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            {{ faq.question }}
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            {{ faq.answer }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="feedback-section" *ngIf="feedback.length > 0">
    <h2>Look what others have to say about us</h2>
    <hr />
    <div class="courses-feedback">
      <div class="course-feedback" *ngFor="let fb of feedback">
        <i class="fa-solid fa-quote-left feedback-icon"></i>
        <p>
          {{ fb.comment }}
        </p>
      </div>
    </div>
  </div>
</div>
