<div class="home">
  <div class="hero-section">
    <h2 class="heading">
      {{ constants.HOME_HEADING }}
      <span class="sub-heading">{{ constants.HOME_HEADING3 }}</span>
    </h2>
    <p class="heading-para">{{ constants.HOME_SUBHEADING }}</p>
    <img
      class="home-page-img1"
      src="../../../assets/home-page-img1.png"
      alt="couldn't display image"
      height="400px"
      width="75%"
    />
  </div>
  <hr class="hr" />

  <!-- course card -->
  <div class="courses-section">
    <h2>
      {{ constants.HOME_HEADING1 }}
      <span class="courses-heading">{{ constants.HOME_HEADING2 }}</span>
    </h2>
    <p class="courses-sub-heading">{{ constants.HOME_SUBHEADING1 }}</p>

    <div class="courses-card">
      <div *ngFor="let course of courses">
        <app-course [course]="course" class="course-card"></app-course>
      </div>
    </div>
    <button class="explore" routerLink="/courses">
      {{ constants.ALL_COURSES }}
    </button>
  </div>

  <!-- feedbacks -->
  <hr class="hr" />

  <div class="feedback-section">
    <h2>
      {{ constants.FEEDBACK_HEADING }}
      <span class="feedback-heading">{{ constants.FEEDBACK_SUBHEADING }}</span>
    </h2>
    <div class="courses-feedback">
      <div class="course-feedback">
        <i class="fa-solid fa-quote-left feedback-icon"></i>
        <p>{{ constants.FDB_1 }}</p>
      </div>
      <div class="course-feedback">
        <i class="fa-solid fa-quote-left feedback-icon"></i>
        <p>{{ constants.FDB_2 }}</p>
      </div>
      <div class="course-feedback">
        <i class="fa-solid fa-quote-left feedback-icon"></i>
        <p>
          {{ constants.FDB_2 }}
        </p>
      </div>
      <div class="course-feedback">
        <i class="fa-solid fa-quote-left feedback-icon"></i>
        <p>
          {{ constants.FDB_1 }}
        </p>
      </div>
    </div>
  </div>
</div>
