.card {
  background-color: #161d29;
  color: white;
  height: 280px;
  width: 270px;
  border: 1px solid #344150;
}

.card-img-top {
  border-radius: 5px;
}
.card:hover {
  transition: all 0.2s ease-in;
  border: 2px solid #344150;
  background-color: #1e242f;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
  -webkit-box-shadow: 2px 6px 41px -2px rgba(52, 65, 80, 1);
  -moz-box-shadow: 2px 6px 41px -2px rgba(52, 65, 80, 1);
  box-shadow: 2px 6px 41px -2px rgba(52, 65, 80, 1);
}

.card-price {
  font-size: 17px;
  font-weight: 400;
}

h2 {
  margin: 0;
}

.buy-now,
.reject {
  background-color: rgba(255, 214, 10, 0.882);
  padding: 10px;
  color: rgba(1, 9, 20, 255);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-left: 25px;
}

.card-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.add-to-cart,
.approve {
  background-color: rgba(255, 214, 10, 0.882);
  padding: 10px;
  color: rgba(1, 9, 20, 255);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.purchase-options,
.approval-options {
  margin-top: 20px;
}

.fa-star {
  color: #ddd;
  font-size: 12px;
  margin-right: 5px;
}

.fa-star.filled {
  color: #f1c40f;
}

.card-title {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}
