.course-details {
}
input[type="text"],
select {
  padding: 12px 20px;
  display: block;
  border: none;
  color: #afb2be;
  box-sizing: border-box;
  background-color: #161d29;
  border-radius: 5px;
}

.btn {
  background-color: #ffd60ae1;
  padding: 10px;
  margin-top: 5px;
  color: rgba(1, 9, 20, 255);
  font-weight: bold;
}
