<div class="app-courses">
  <div class="searchbar">
    <input
      class="form-style"
      type="text"
      placeholder="Search for courses..."
      id="searchtext"
      name="searchtext"
      [(ngModel)]="searchtext"
      (keyup)="onSearchChange()"
      #searchInput
    />
    <i class="fa-solid fa-xmark" (click)="clearSearch()"></i>
  </div>
  <!-- courses -->
  <div class="course-section">
    <div class="course-container">
      <div class="courses">
        <h2>{{ constants.TITLE }}</h2>
        <hr />
        <div class="course-card">
          <app-course
            *ngFor="let courseEl of filteredCourse; let course = index"
            [course]="courseEl"
            [index]="course"
          ></app-course>
        </div>
        <button class="load-more" (click)="loadMoreCourses()">
          {{ constants.LOAD_MORE }}
        </button>
        <!-- <router-outlet></router-outlet> -->
        <!-- <app-loading-spinner *ngIf="loadingMore"></app-loading-spinner> -->
      </div>
    </div>
  </div>
</div>
