<div class="container">
  <h1>My Learning</h1>
  <hr />

  <div class="empty-page">
    <div *ngIf="courses.length === 0">
      <img
        class="empty-page-image"
        src="../../../assets/courses/my-learning.svg"
        alt="my learning image"
        height="300px"
      />
      <p class="subheading">You haven't purchased any course. Please purchase to access it</p>
      <button class="btn" routerLink="/courses">Explore Courses</button>
    </div>
  </div>
  <div class="courses" *ngIf="courses.length > 0">
    <app-course
      class="course-card"
      *ngFor="let courseEl of courses; let i = index"
      [course]="courseEl"
      [index]="i"
      [price]="false"
    ></app-course>
  </div>
</div>
