<div class="container">
  <h1>{{ constants.HEADING }}</h1>
  <hr />
  <div class="empty-page">
    <div *ngIf="courses.length === 0">
      <img
        class="empty-page-image"
        src="../../../assets/courses/my-learning.svg"
        alt="my learning image"
        height="300px"
      />
      <p class="subheading">
        {{ constants.NO_COURSE }}
      </p>
      <button class="btn" routerLink="/courses">
        {{ constants.EXPLORE_COURSE }}
      </button>
    </div>
  </div>
  <div class="courses" *ngIf="courses.length > 0">
    <app-course
      class="course-card"
      *ngFor="let courseEl of courses; let course = index"
      [course]="courseEl"
      [index]="course"
      [price]="false"
    ></app-course>
  </div>
</div>
