<div class="content-container">
  <div class="video-container">
    <!-- <app-loading-spinner *ngIf="isLoadingVideo"></app-loading-spinner> -->

    <video
      id="my-video"
      class="video-js"
      *ngIf="selectedVideo"
      controls
      width="90%"
    >
      <source src="{{ selectedVideo.sourceUrl }}" type="video/mp4" />
    </video>

    <div class="course-info" *ngIf="selectedVideo">
      <p>{{ selectedVideo.title }}</p>
    </div>

    <div class="feedback">
      <h2>{{ constants.ADD_FEEDBACK }}</h2>
      <hr />
      <div class="add-feedback">
        <fieldset class="rating">
          <input
            type="radio"
            id="star5"
            name="rating"
            value="5"
            [(ngModel)]="selectedRating"
          /><label class="full" for="star5"></label>
          <input
            type="radio"
            id="star4"
            name="rating"
            value="4"
            [(ngModel)]="selectedRating"
          /><label class="full" for="star4"></label>
          <input
            type="radio"
            id="star3"
            name="rating"
            value="3"
            [(ngModel)]="selectedRating"
          /><label class="full" for="star3"></label>
          <input
            type="radio"
            id="star2"
            name="rating"
            value="2"
            [(ngModel)]="selectedRating"
          /><label class="full" for="star2"></label>
          <input
            type="radio"
            id="star1"
            name="rating"
            value="1"
            [(ngModel)]="selectedRating"
          /><label class="full" for="star1"></label>
        </fieldset>
        <textarea
          placeholder="Add your feedback here"
          maxlength="200"
          class="user-feedback"
          cols="30"
          rows="10"
          [(ngModel)]="feedbackText"
        ></textarea>

        <button class="btn" (click)="submitFeedback()">
          {{ constants.ADD_FEEDBACK }}
        </button>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <div class="course-lectures">
      <h3>{{ constants.CONTENT }}</h3>

      <div *ngFor="let video of videos">
        <p class="lecture" (click)="onVideoClick(video)">{{ video.title }}</p>
      </div>
    </div>
  </div>
</div>
