<div class="content-container">
  <div class="video-container">
    <video id="my-video" class="video-js" controls width="90%">
      <source
        src="../../../../assets/videos/Promises-js.mp4"
        type="video/mp4"
      />
    </video>

    <div class="course-info">
      <p>Lecture 1 : Intro to Programming & Flowcharts</p>
    </div>

    <div class="feedback">
      <h2>Add Feedback</h2>
      <hr />
      <div class="add-feedback">
        <fieldset class="rating">
          <input
            type="radio"
            id="star5"
            name="rating"
            value="5"
            [(ngModel)]="selectedRating"
          /><label class="full" for="star5"></label>
          <input
            type="radio"
            id="star4"
            name="rating"
            value="4"
            [(ngModel)]="selectedRating"
          /><label class="full" for="star4"></label>
          <input
            type="radio"
            id="star3"
            name="rating"
            value="3"
            [(ngModel)]="selectedRating"
          /><label class="full" for="star3"></label>
          <input
            type="radio"
            id="star2"
            name="rating"
            value="2"
            [(ngModel)]="selectedRating"
          /><label class="full" for="star2"></label>
          <input
            type="radio"
            id="star1"
            name="rating"
            value="1"
            [(ngModel)]="selectedRating"
          /><label class="full" for="star1"></label>
        </fieldset>
        <textarea
          placeholder="Add your feedback here"
          maxlength="200"
          class="user-feedback"
          cols="30"
          rows="10"
          [(ngModel)]="feedbackText"
        ></textarea>

        <button class="btn" (click)="submitFeedback()">Add Feedback</button>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <div class="course-lectures">
      <h3>Course Content</h3>
      <p class="lecture">Lecture 1 : Intro to Programming</p>
      <p class="lecture">Lecture 2 : Intro to Programming</p>
      <p class="lecture">Lecture 3 : Intro to Programming</p>
      <p class="lecture">Lecture 4 : Intro to Programming</p>
      <p class="lecture">Lecture 5 : Intro to Programming</p>
      <p class="lecture">Lecture 6 : Intro to Programming</p>
      <p class="lecture">Lecture 7 : Intro to Programming</p>
      <p class="lecture">Lecture 8 : Intro to Programming</p>
      <p class="lecture">Lecture 9 : Intro to Programming</p>
      <p class="lecture">Lecture 10 : Intro to Programming</p>
      <p class="lecture">Lecture 1 : Intro to Programming</p>
      <p class="lecture">Lecture 2 : Intro to Programming</p>
      <p class="lecture">Lecture 3 : Intro to Programming</p>
      <p class="lecture">Lecture 4 : Intro to Programming</p>
      <p class="lecture">Lecture 5 : Intro to Programming</p>
      <p class="lecture">Lecture 6 : Intro to Programming</p>
      <p class="lecture">Lecture 7 : Intro to Programming</p>
      <p class="lecture">Lecture 8 : Intro to Programming</p>
      <p class="lecture">Lecture 9 : Intro to Programming</p>
      <p class="lecture">Lecture 10 : Intro to Programming</p>
    </div>
  </div>
</div>
