.container {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.no-earning {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
.subheading {
  margin-top: 30px;
  font-size: 35px;
}

.add-new-course {
  display: flex;
  flex-direction: column;
}

.add-new-course > hr {
  margin: 0;
}

.add-course,
.mentor-earning {
  margin-left: 70px;
  margin-bottom: 30px;
}

.course-form,
.faq-form {
  width: 508px;
}

.course-image {
  margin-top: 50px;
}

.form-style {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.form-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-container {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.course-details {
  margin-top: 30px;
}

hr {
  width: 80vw;
}

.btn {
  background-color: #ffd60ae1;
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  color: rgba(1, 9, 20, 255);
  font-weight: bold;
}

.faq-buttons {
  text-align: center;
}
.submit-faq-buttons {
  text-align: center;
}

.heading {
  display: flex;
  gap: 50px;
  width: 30%;
}

table {
  background-color: #161d29;
  margin-top: 50px;
  text-align: center;
  border: 1px solid #2c333f;
  border-radius: 10px;
  font-size: 25px;
  height: 450px;
  display: block;
  overflow-y: scroll;
}

.active {
  color: #47a5c5 !important;
  border-bottom: 1px solid #47a5c5 !important;
  font-weight: 700;
}

.add-course-btn,
.add-faq-btn {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid #2c333f;
}

.profile-logo {
  background-color: transparent;
}

th,
td {
  width: 1505px;
  height: 75px;
}
tr {
  border-bottom: 1px solid #2c333f;
}

.mentor-name {
  background: none;
  color: white;
}

::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}
::-webkit-scrollbar-track {
  border: 2px solid #2c333f;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #161d29;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #88ba1c;
}
