<div class="container">
  <div class="mentor-earning">
    <h1>My Earnings</h1>
    <hr />
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Course</th>
        <th>Earning</th>
      </tr>
      <tr *ngFor="let mentor of mentorEarnings">
        <td>
          <span class="profile-logo">
            <img
              src="../../../assets/login_signup/profile.svg"
              alt="profile"
              height="40px"
            />
          </span>
          <span class="mentor-name"> {{ mentor.name }} </span>
        </td>
        <td>{{ mentor.course_name }}</td>
        <td>₹ {{ mentor.earning }}</td>
      </tr>
    </table>
  </div>

  <div class="add-course">
    <div class="add-new-course">
      <h1>Add a new course</h1>
      <hr />
      <div class="form-container">
        <div class="heading">
          <button
            class="add-course-btn active"
            (click)="addCourseButtonClicked()"
            [ngClass]="{ active: changeComponent }"
          >
            Courses
          </button>
          <button
            class="add-faq-btn"
            (click)="addFaqButtonClicked()"
            [ngClass]="{ active: changeComponent === false }"
          >
            Mentor
          </button>
        </div>

        <div class="details-container">
          <div class="new-course" *ngIf="changeComponent">
            <app-new-course></app-new-course>
          </div>
          <div class="add-faq" *ngIf="!changeComponent">
            <app-add-faq></app-add-faq>
          </div>

          <div class="course-image">
            <img
              src="../../../assets/courses/new-course.svg"
              alt="couldn't preview image"
              height="400px"
              width="550px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
